@import "/src/sass//utils/mixins.scss";
@import "/src/sass//utils/variables.scss";

.transactions::-webkit-scrollbar-thumb {
  background: $accentColor;
}
.transactions {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-height: 200px;
  margin-top: 60px;

  @include tab() {
    padding: 0;
    width: 605px;
    max-height: 385px;
  }
  @include desk() {
    width: 760px;
    max-height: 382px;
  }
  &__list {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: $secondaryBgColor;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: $accentColor;
      border-radius: 12px;
    }
  }
  &__item {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid $secondaryBgColor;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @include tab() {
      padding: 12px 20px;
      margin-bottom: 0;
      border: 1px solid $secondaryBgColor;
      justify-content: normal;
    }
  }
  &__wrap {
    display: flex;
    align-items: end;
    gap: 20px;
    @include tab() {
      align-items: center;
    }
    @include desk() {
      gap: 70px;
    }
  }
  &__subwrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @include tab() {
      flex-direction: row;
      gap: 20px;
    }
    @include desk() {
      gap: 40px;
    }
  }
  &__date {
    order: 1;
    font-size: 8px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $mainTextColor;
    @include tab() {
      order: 0;
      font-size: 12px;
      min-width: 84px;
    }
  }
  &__desc {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: $mainTextColor;
    @include tab() {
      font-weight: 400;
      min-width: 180px;
    }
  }
  &__category {
    font-size: 8px;
    letter-spacing: 0.04em;
    color: $mainTextColor;
    @include tab() {
      font-size: 12px;
      min-width: 108px;
    }
    @include desk() {
      min-width: 120px;
      margin-right: 80px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
    div {
      @include tab() {
        min-width: 90px;
      }
    }
  }
  &__btn {
    background-color: transparent;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.income {
  color: $incomeColor;
}
.expense {
  color: $expenseColor;
}

.head {
  display: none;
  background-color: $secondaryBgColor;
  padding: 12px 20px;
  border-radius: 15px 15px 0 0;

  span {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $secondaryTextColor;
  }
  @include tab() {
    display: flex;
    gap: 20px;
  }
  @include desk() {
    gap: 40px;
  }
  &__date {
    min-width: 84px;
  }
  &__desc {
    min-width: 180px;
    @include desk() {
      min-width: 205px;
    }
  }
  &__category {
    min-width: 108px;
    @include desk() {
      min-width: 167px;
    }
  }
  &__amount {
    min-width: 90px;
  }
}
