@import "/src/sass//utils/mixins.scss";
@import "/src/sass//utils/variables.scss";

.dashboard {
  background-image: url("../../assets/mainBg/mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  @include tab() {
    padding-top: 40px;
  }
  @include tab() {
    background-image: url("../../assets/mainBg/tab.png");
  }
  @include desk() {
    background-image: url("../../assets/mainBg/desk.png");
  }
  &__switcher {
    display: none;
    @include tab() {
      display: flex;
    }
  }
  &__in {
    @include tab() {
      background-color: $mainBgColor;
      box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
      border-radius: 0 30px 30px 30px;
      padding: 30px;
      height: 626px;
      width: 605px;
    }
  }
  &__bottom {
    @include tab() {
      display: none;
    }
  }
}
.top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include tab() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
}
.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tab() {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  &__title {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: $mainTextColor;
    margin-bottom: 10px;
    text-align: center;
  }
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__balance {
    padding: 0 17px 0 23px;
    border: 1px solid $mainBgColor;
    border-radius: 22px 0 0 22px;
    width: 85px;
    input {
      width: 57px;
      padding: 17px 0;
      background-color: transparent;
    }
    input,
    span {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.02em;
      color: $secondaryTextColor;
    }
  }
  &__btn,
  &__add {
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 23px 15px 17px;
    border: 1px solid $mainBgColor;
    border-radius: 0 22px 22px 0;
    background-color: $accentColor;
    color: $mainBgColor;
  }
  &__btn:disabled {
    background-color: transparent;
    color: $secondaryTextColor;
  }
  &__add {
    @include tab() {
      display: none;
    }
  }
  &__count {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: $mainTextColor;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    order: -1;
    margin-top: 30px;
    svg {
      width: 24px;
      height: 24px;
    }
    @include tab(){
      order: 1;
      margin: 0;
    }
  }
  &__add {
    border-radius: 22px;
  }
}

.transactions {
  display: flex;
  flex-direction: column;
  &__btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin: 15px 0;
    svg {
      width: 24px;
      height: 24px;
      fill: $accentColor;
    }
  }
  &__form {
    display: none;
    @include tab() {
      display: flex;
    }
  }
  &__list {
    display: none;
  }
}
