@import "/src/sass//utils/mixins.scss";
@import "/src/sass//utils/variables.scss";

.form {
  &__form {
    display: flex;
    flex-direction: column;
    @include desk() {
      flex-direction: row;
      align-items: center;
      gap: 25px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    @include tab() {
      flex-direction: row;
    }
  }
  &__date,
  &__desc,
  &__category,
  &__amount {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid $mainBgColor;
    color: $iconColor;
    @include tab() {
      border: 1px solid $secondaryBgColor;
    }
  }
  &__date {
    border-radius: 22px;
    margin-bottom: 10px;
    @include tab() {
      border: none;
      padding: 0;
      margin: 0;
      margin-right: 15px;
    }
  }
  &__desc {
    border-radius: 15px 0 0 0;
    @include desk() {
      width: 245px;
    }
  }
  &__category {
    border-radius: 0;
    @include desk() {
      width: 188px;
    }
  }
  &__subwrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    @include tab() {
      margin: 0;
      border: 1px solid $secondaryBgColor;
      border-radius: 0 15px 15px 0;
      padding: 12px 20px;
    }
    @include desk() {
      width: 124px;
    }
  }
  &__amount {
    padding: 15px 15px 15px 40px;
    width: 70px;
    border-radius: 22px 0 0 22px;
    @include tab() {
      border: none;
      padding: 0;
      width: 80px;
      border: none;
    }
  }
  &__icon {
    padding: 12px 20px;
    border: 1px solid $mainBgColor;
    border-radius: 0 22px 22px 0;
    @include tab() {
      padding: 0;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__btnWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    @include tab() {
      margin-top: 30px;
      justify-content: center;
      gap: 15px;
    }
    @include desk() {
      margin: 0;
    }
  }
  &__btn,
  &__active {
    padding: 15px 38px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 16px;
    @include tab() {
      padding: 15px 30px;
    }
  }
  &__active {
    box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
    background-color: $accentColor;
    color: $secondaryBgColor;
    @include tab() {
      box-shadow: none;
    }
  }
  &__btn {
    box-shadow: 1px 2px 5px 0 rgba(170, 178, 197, 0.4);
    background-color: $secondaryBgColor;
    @include tab() {
      background-color: transparent;
      box-shadow: none;
      color: $mainTextColor;
      border: 2px solid $secondaryBgColor;
    }
  }
}
