@import "/src/sass//utils/mixins.scss";
@import "/src/sass//utils/variables.scss";

.switcher {
  width: 100%;
  position: absolute;
  @include tab() {
    position: static;
    width: auto;
  }
  &__btn,
  &__active {
    padding: 20px;
    width: 50%;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include tab() {
      padding: 13px 42px;
      width: auto;
      background-color: $switcherColor;
      border-radius: 15px 15px 0 0 ;
    }
  }
  &__active {
    background-color: $accentColor;
    color: $secondaryBgColor;
    @include tab() {
      background-color: $activeSwitcherColor;
      color: $accentColor;
    }
  }
}
